
    
    <form class="col s12 m12 l12">      
        <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" ng-model="user.email">
              <label for="email">Email {{user.email}}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" ng-model="user.password">
              <label for="password">Password</label>
            </div>
        </div> 
        <div class="row">
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
              <label for="filled-in-box">Remember me</label>
            </p>
        </div> 
        <div class="row">
            <button ng-click="signin();" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons">send</i>
            </button>                       
            <a href="#/login/register">Register!!</a>                
        </div>             
    </form>      
    

    

        