<form class="col s12">      
  <div class="row">
    <div class="input-field col s12">
      <input id="txt_cp1" type="text" class="validate">      
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="txt_cp2" type="text" class="validate">      
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="txt_cp3" type="text" class="validate">      
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="txt_cp4" type="text" class="validate">
    </div>
  </div>  
  <div class="row">
    <div class="input-field col s12">
      <input id="txt_cp5" type="text" class="validate">
    </div>
  </div>  
</form>