
<section class="notice notice--not-found">
    <img src="../../assets/img/global/pic-logolaureateforerror.png">
    <h1>Oops!</h1>
    <h4>Seems the content you’re looking for was not found!</h4>
    <a href="/#/product/discover" class="button button--notice-back">
        <i class="icon-arrow-left"></i>
       Go to Discover Portal
    </a>
     <a href="/#/product/signature" class="button button--notice-back">
        <i class="icon-arrow-left"></i>
        Go to Signature Products
    </a>
    <a  ng-click= "OpenZendeskWindow()" class="button button--notice-support">
         <i class="icon-email"></i>
        Error? Contact Support
    </a>
</section>

